<!--
  Title: Nodebucket
  Arthur: Professor Krasso
  Date: 08/29/2023
  Description: not found component
-->

<app-nav></app-nav> <!-- website navbar -->

<div class="row" style="margin-top: 5em;">

  <div class="col-sm-4 m-auto text-center">

    <h1>Page 404</h1>

    <p>Not found</p>

    <p><a routerLink="/">Go Back</a></p>

    <figure>

      <a routerLink="/">

        <!-- image source: https://unsplash.com/photos/iMwiPZNX3SI -->
        <img class="img-fluid" src="./assets/book.jpg" alt="Page 404 - Not Found">

      </a>

      <figcaption>(Image source: unsplash)</figcaption>

      <br /><br />

      <p>Unfortunately, Nodebucket requires that you stay within the scope of this App’s spell. Any casting outside of a valid page may result in unintended consequences!</p>

    </figure>

  </div>

</div>

<app-footer></app-footer> <!-- website footer -->