<!--
  Title: Nodebucket
  Arthur: Professor Krasso
  Date: 09/03/2023
  Description: about us component
-->



<div class="container">
<header class="container-fluid text-center about">

  <div class="container p-5">
    <h1 class="display-1">About Us</h1>

    <p class="lead">
      Our quest is to offer our wizardry students with an enchanting customer experience. To
      offer a task management app that's easy to use and understand. This app was created
      for the busy wizard, who values intellect and the pursuit of knowledge. For
      those who need help managing their busy schedules, tasks, potions or even
      spells. Rest assured in our secured databases that your intellectual
      property will be safe. No matter what knowledge you seek, we'll be
      there to assist you in your journey. We are always looking for ways to improve
      our product and welcome any feedback you might have.
    </p>

  </div>

</header>

<div class="my-5">
  <div class="row">

    <!-- task column -->
    <div class="col-md-7">
      <h2 class="display-3">Task Management</h2>

      <p class="lead">
        Nodebucket is a task management application that allows users to create,
        view, and edit tasks. Users can also drag and drop tasks to change their status
      </p>


    <p class="lead">So simple, even a muggle can even use it for their every day tasks.</p>

    <p class="lead">Just log in, and start saving your testing, projects, meetings or other tasks and we'll do the rest!</p>


    </div>
    <!-- end task column -->

    <div class="col-md-5">

      <figure>
        <!-- image source: https://unsplash.com/photos/21DP3hytVHw -->
        <img class="img-fluid rounded" src="./assets/castle.jpg" alt="Page 404 - Not Found">

        <figcaption>(Image source: unsplash)</figcaption>
      </figure>
    </div>

  </div>
  <!-- end row -->


  <hr class="my-5" />


  <div class="row">

    <div class="col-md-5">
      <figure>
        <!-- image source: https://unsplash.com/photos/EhTcC9sYXsw -->
        <img class="img-fluid rounded`" src="./assets/mobile.jpg" alt="View on computer, tablet, or mobile screens.">

        <figcaption>(Image source: unsplash)</figcaption>
      </figure>
    </div>

    <div class="col-md-7">
      <h2 class="display-3">Mobile Accessibility</h2>

      <p class="lead">
        Nodebucket is available on both iOS and Android. There is no need to download
        the app from the App Store or Google Play. Our website is fully responsive and
        will work on any device.
      </p>
    </div>
  </div>


  <hr class="my-5" />

<div class="row">


  <div class="col-md-7">
    <h2 class="display-3">Check out some of our awesome reviews:</h2>

    <ul>
      <li>I use this product everyday! It saved my marriage by helping me keep track of dates!</li>
      <li>I use the app to help me study for my Hogwarts exams, it comes in handy for sure.</li>
      <li>So easy a muggle can use it!? What's that supposed to mean!?</li>
      <li>I love this app. I split my life into two periods: before Nodebucket and after.</li>
    </ul>


  </div>

  <div class="col-md-5">
    <figure>
      <!-- image source: https://unsplash.com/photos/gawh63Ay4cg -->
      <img class="img-fluid rounded`" src="./assets/stars.jpg" alt="Glowing Stars.">

      <figcaption>(Image source: unsplash)</figcaption>
    </figure>
  </div>


</div>


</div>









</div><!-- /container -->