/**
    Title: Nodebucket
    Arthur: Professor Krasso
    Date: 09/03/2023
    Modified By: Brooks
    Description: task component
*/

h1 {
  text-align: center;
}

.card h1 {
  padding-bottom: 1em;
}


.task-column {
  min-height: 200px;
}

.task-hover:hover {
  cursor: pointer;
}