<!--
  Title: Nodebucket
  Arthur: Professor Krasso
  Date: 08/20/2023
  Description: footer component
-->

<footer class="mt-5 container-fluid text-center p-5" style="background-color: #0F1D4A;">

  <div class="container p-5 text-white fst-italic">
    <p>&copy; Copyright {{ currentYear }}. All Rights Reserved.</p>
    <p><a href="mailto:support@nodebucket.com" class="text-white text-underline-hover">support@nodebucket.com</a></p>

    <a href="https://www.facebook.com/nodebucket" target="_blank">

      <!-- Image Source: https://about.meta.com/brand/resources/facebookapp/logo/ -->
      <img src="./assets/facebook-logo.png" alt="black and white facebook logo" class="pe-4">
    </a>

    <a href="https://www.twitter.com/nodebucket" target="_blank">

      <!-- Image Source: https://about.twitter.com/en/who-we-are/brand-toolkit -->
      <img src="./assets/twitter-logo.png" alt="black and white twitter logo">

    </a>
  </div>

</footer>