/**
    Title: Nodebucket
    Arthur: Professor Krasso
    Date: 09/03/2023
    Modified By: Brooks
    Description: styles css
*/

@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');

h1 {
  font-family: 'Risque', sans-serif;
}

body {
  background-color: #5d5d5d !important;
  color: white !important;
}


.text-underline-hover {
  text-decoration: none;
}

.text-underline-hover {
  text-decoration: underline;
}

.full-height {
  height: 100vh !important;
}

.link:hover {
  cursor: pointer;
}

/* Mobile view ports */
@media only screen and (max-device-width: 576px) {
  .dropdown-menu {
    background-color: #0F1D4A !important;
    color: rgba(255, 255, 255, 0.55) !important;
  }

  .dropdown-item {
    color: rgba(255, 255, 255, 0.55) !important;
  }

  .dropdown-item:hover {
    cursor: pointer;
    background-color: #0F1D4A !important;
    color: rgba(255, 255, 255, 0.75) !important;
  }

  .material-icons {
    color: rgba(255, 255, 255, 0.55) !important;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
